/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

  
/* -------------------------------------------------------- */
/* VARIABLES */
/* -------------------------------------------------------- */

/* Variables are used like this: var(--text-color) */
:root {
  /* Background Colors: */
  --background-color: #0d0d0d;
  --content-background-color: #0d0d0d;
  --sidebar-background-color: #00070c;

  /* Text Colors: */
  --text-color: #f5efe6;
  --sidebar-text-color: #f5efe6;
  --link-color: greenyellow;
  --link-color-hover: orange;

  /* Text: */
  --font: "Space Mono", monospace;
  --heading-font: 'Press Start 2P', sans-serif;
  --font-size: 15px;

  /* Other Settings: */
  --margin: 40px;
  --padding: 20px;
  --border: 2px solid #c980ff;
  --round-borders: 4px;
  --sidebar-width: 300px;
}

/* -------------------------------------------------------- */
/* BASICS */
/* -------------------------------------------------------- */

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  font-size: var(--font-size);
  margin: 0;
  padding: var(--margin);
  color: var(--text-color);
  font-family: var(--font);
  line-height: 1.2;
  background: var(--background-color);
  background-image: url("/bg2.gif");
  
}

/* -------------------------------------------------------- */
/* CURSOR */
/* -------------------------------------------------------- */
 
@keyframes rwdcur202165 {
0%,14.185714285714%,100% {cursor:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAA7EAAAOxAGVKw4bAAABsUlEQVRYhe2WMW7CQBREx1GQgsQB0lIhRUpqDsARkgPYRco0PkgkOADHSWpTuUrLASxtFEeZFPbiXXv3sxgTKDKSAWF2//P8+TYAQFyAzg+hioznBuGlQfwJSOSBAACMJw++3wymK+lkDSK5cbRLvqvbuaAluEFhn94AfSD27eeU2IK2jJb4NHhwqYqsmoyEREJpSnpNzz4Hotr2ncYv90BClxum/cEQoT2jKrKquCG13Lhy4YNyKjQDHSd2ELITe+UDcFqolptQCHMfMRviGDrOd0bTlNEOXwY69aQW6I0se3UrbiavnQVtJ4gYRCyUCM+AE8IFoooMlkvpGkwB5sCinPe6T3jnXhUZibi5V7R6zrQ+cnBRzomEXE3L4SEcN6cGwCx+98WtDXAQjAjh+p45uPgxiuvDgLg+AMBMt/R41kmPohmA5I2r9xKPnyOA38D4+MdFp9eOw5K+4u20PMoBLX2FrF7qMUvX1fszEM3sBbcfo2b+1XB/sKqgIbbTXvdcWOP63B8AYWk/iRqAMxS3ZBWvAQwIEWawRKymJZ+AZsxUZIfvxAAEELWtDwH41y+ktFlmZYJbPQAAAABJRU5ErkJggg==) 0 0, auto;}
14.285714285714%,28.471428571429% {cursor:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAA7EAAAOxAGVKw4bAAABz0lEQVRYhc2XvU7DMBSFj5FAVOrExJouSEgwMzDyAH2FZmGCpc+BkNqdV4DH6JxKSGWgI5k6RbJUS1yGJI4TX7upSX+OlKVJ7C/nnnuTAgDhCHR4CJkldGgQOjaIvYAIBwQAoNe/dV3TmU58JwsQnxv/dsn1dNqFUh43yLNOMEAIxKb1WHlL0JRREpc6Dy7JLMk7IyZCTL4uCeqeTQ6Iwnat3vMNEBPnhml/a4i2NSOZJfnmhuRkzuXCBcWqbQYsJzSE34mNcgGwFsrJvC2EuY43G942ZM5brWnKKIcrA9Z+vhKUC9XsLUtx3n+1bmg6kUYKPwN/HttmgIXgQGSWwHTp8jsGYQQaA7QImxPOvpdZQoRRNSsaNSeM8mMMogXo4fcunyf8g4VDMMOpAig2j9SQEBNNr9fB09ILwf1ubX6/zg8DYpt3QXPYuMaxvl68QAwGQywf3zGdKWBlL7rVywiOtm0MqRrU8vRDTGcKT59n7L3bApQQerE0UkgjlSe9SHtTtc0ZF0JFACiNlJX2SA338j1Zb7f2ae8MrgIIbzXq5IuXFiCd9q8q7a7gmQoJoSVxBaFbDQAubMadAgAA3kT+tCtwSd/pf4ujUPCX8h9b5UOWaOhbEAAAAABJRU5ErkJggg==) 0 0, auto;}
28.571428571429%,42.757142857143% {cursor:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAA7EAAAOxAGVKw4bAAABsklEQVRYhc2XMW7CQBBF/6IUQaJPndZSUlNQkiNwAKwoSZWGg0SCHi5ClyKpjRQpN+AAllZywU+B7ezau+O1YwJfotn1zjz+zKwBAIgL0PkhdJrw3CC8NIh/AVEeCADAcHTve6Y3DaTNHERy488u+b5d6UIhwQ0KcToDdIFoiueUWIKqjJL41HvjUqfJcTJiEjGlKek0PU0OqNz2UsPXOyCmyw3T/mCI0JpRp8kxuSG93Ln6wgflVGgP1JwoIWQnGuUDcFqol7tQCDOO2BviGDr2a6NpyiiHrwdq+aQSFIEse4tSXI/eageqTqyiDKsoE1KE94ATwgWi0wSmSzMA+ygDMQcXztENSu6ce50mJOa/d0Wl5vso4z7KSMzJBchvcHoYd7qsRAjH5VQCWMmzyfFC6ygRwrXuTF58crV5F1QvG991XD6vsFF4Ah5uJ9i+vDcGDVWIhXbcmMRaKcv+tVIAcNUBoAhOAOWYzfLFm69nKGzsE3myvkUAXOWdXm24UyR0AuAE3d4a4BzJbZKGUTOAa0d7a47pYczt44e9GNB8rX4TStoOPk/6/+Gi1dRw4v4PzGdAMPWtNfQAAAAASUVORK5CYII=) 0 0, auto;}
42.857142857143%,57.042857142857% {cursor:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAA7EAAAOxAGVKw4bAAABuUlEQVRYhdWXPU7DQBSExxGRiJQDpAwrISqocwDoU9LGBSVNzoGwchIOQJGS2qlSkTIHsOQiKEPh2KzXbzdrY5Mwkhv/7Psyb97aAQDiDHR6iDSJeWoQnhvEn4AEFggAwGB4Z7unNfVcFw8gLjd+7ZLt1xUu5HK4Qcc6jQGaQBxbT5SzBaa0ltjUenCZJnE2GSGJkK4paTQ9xxwIDrYXGjzfAiElN3T7vSF8e8Y0ibPimtLFSsqFDUqUbwYqThQQbieOygYgWpguVr4Q+jrObDjHULheGU1dWjtsGajUc7UgX6hkb96Ky+Fr5YGKEyGzwyHfDIgQEkiaxNBdipZApIjteAdi1mifsM59msQkZj97hdHzSJGRIrfjHYkZOQe5Lq3jDeSEEDanAsAsfr+fNN4tnRDSeal4fuQ3XdQA0NPtej3nSQ9Gmz44B/EEPFxPxAdqvYxgGVtjkyrBBS8IlJrivfchPlvHARMiK3QYs2iZnXzcf2G06Zce+Oy/dfJVlfU9pJj2LgrKAJa0X+2mnX83FAA1i7cvs3h+GLCiWgsH16BS09I5n/DVHUOxNgAEN93+f/g3qh2+bwkWQAX8lAmoAAAAAElFTkSuQmCC) 0 0, auto;}
57.142857142857%,71.328571428571% {cursor:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAA7EAAAOxAGVKw4bAAABiUlEQVRYhc2WMXLCMBBFv1OFGQ6hzlVyFq6Ai6RLw0HCcJHcxVR0KTmAZ1S4+ClsK0JeLUKRAzvjBsu7j79/1wYA4gHi/hC2a3lvED4axL+AVBEIAMBq/Ro7UyyetJsjiKbGn1WK/TunwhSKGlTyZAPkQFzLJ4bagjC8lsSiuHFpu3aYjIZEQ21KsqbnmgLVKLuL1ccL0FBSw5c/GSK1Z7RdOxT3wh6Oki9iUGKkemCmhIPQlbgaMQBRQns4pkL4eVRvqGMo3J+Nph9eO2IemNXTWjAlupB3asXz+nP2QKiE6Tcw/UYpAaZ6QISQQGzXwlfp+/0LaIi9Ic6mD5VJ8kt07m3Xktj+7oqw5+Pu2BvybHoSW3KXt6xUCGE5OYCwOE/521KFkH6Xik9XCQh3aR8xUnEfIOc1mkJ/kZcnsKpRXRSuhzM3vQ295K6AG7WGzu2zB+plvqoIgKbfiG5foqAIgAXcfjNAZvFygAmjFi1WzBzcgXgLkieYr6g7Q+mXcv/DxC0mip79AbIuWUEzaIyyAAAAAElFTkSuQmCC) 0 0, auto;}
71.428571428571%,85.614285714286% {cursor:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAA7EAAAOxAGVKw4bAAABnklEQVRYhc1XMU7DQBCcQ0IiUnooDT28xSVtXFDS5B2IKA8gfzJVupQ8wNIVRhqK5OzLeW9tXxySkdzE9u54dmbtAABxBbg8CVuVvDQRXhuJfyFiIiQAALP5S+yayXCjnTwQ0dQ4WaXY0zUqOChqUKmTTCCFRF89EeoIQngjiWFy49JW5T4ZBYmCWkqS0tOngDnI3mD2/gwUlNTw5R9MYujMaKty39yDXX9LvoiREjHUAx0lGhK6Er2IERAltOvvoST8Oqo31BgK5zvR9OGNI+aBTj9tBK7QkbxuFHfzz84NoRLc7g8NQz0gkpCI2KqEr9LjU46szoGCWGVM2hPR3NuqJLFod0Uw86zOmdU5UZCrjPzJahILBrVPJyEsp4ZA2JzL9G2pkpB+l5q7w1005l0QLpvYOm6v/zLmFb+4370By41YdNTLCJHYBkvqiNTD7tZguYH5kO8dS8CRaIq5qGV16/bODZHmp4IAyK3s9nM0FAlgvNsnI9caccKoJaEvahomMwexYBg1z3zRD9eUFIj9DTbaw5z1v8VVo9cHf23RPiugjaSNAAAAAElFTkSuQmCC) 0 0, auto;}
85.714285714286%,99.9% {cursor:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAA7EAAAOxAGVKw4bAAABmUlEQVRYhc1XMW6DQBCci2IpltwnJR9I3uIyrSlcpvFDYvkD/kLegit3lH4A0hVEmhT4yAF7y0FM8EjXGNgdZmfuMAAQd4D5Sdgi49xEeG8k/oWICZAAACxXb6F7boYH7eKViKbGn1UKvV2tgoOiBpU6owmMIdFXT4Q6gja8kYRwc+PSFlmVjJRESi0lo9LTp4C5yl5j+fEKpJTU8OWPJhE7M9oiq5p7sIeT5IsQKRGxHugoUZPQlehFiIAooT2cYkn4dVRvqDEUrnei6cMbR8gDnX7aCFyhhrxuFE+rz84DbSW4q5aGWA+IJCQitsjQUGkL8Awk5RpIKUU3qrmYe1tkJDa/e0Vr5jxXKynXREruE/KSlKM2K5WEsDnVBNrNic3o3VIlIf0uNXfL3fQ4gIDvbu14dk43+eIL+wR8xzee822w6FDESNioS2xocDT+mxscDTDwNPSK1w1c1Hj23N554DjJV1VltJ3s9ikaigQwgdsHE5ijeRM9UUP4oLrdJ/clKdmOWoz5xqRAxEu+mPT/w10i1mjqfT8I2kO5zoOE3AAAAABJRU5ErkJggg==) 0 0, auto;}
}
body, a, a:link, a:visited, a:hover, a:active, summary, button {
  animation: rwdcur202165 0.46666666666667s linear infinite forwards;
}

::selection {
  /* (Text highlighted by the user) */
  background: rgba(0, 0, 0, 0.2);
}

mark {
  /* Text highlighted by using the <mark> element */
  text-shadow: 1px 1px 4px var(--link-color);
  background-color: inherit;
  color: var(--text-color);
}

/* Links: */
a {
  text-decoration: underline;
}

a,
a:visited {
  color: var(--link-color);
}

a:hover,
a:focus {
  color: var(--link-color-hover);
  text-decoration: none;
}

/* -------------------------------------------------------- */
/* LAYOUT */
/* -------------------------------------------------------- */

.layout {
  max-width: 1440px;
  width: 100%;
  display: grid;
  grid-gap: var(--margin);
  grid-template: "header header header" auto "leftSidebar main rightSidebar" auto "footer footer footer" auto / var(--sidebar-width) auto var(--sidebar-width);
}

main {
  grid-area: main;
  overflow-y: auto;
  padding: var(--padding);
  background: var(--content-background-color);
  border: var(--border);
  border-radius: var(--round-borders);
}

/* -------------------------------------------------------- */
/* HEADER */
/* -------------------------------------------------------- */

header {
  grid-area: header;
  font-size: 1.2em;
  border: var(--border);
  border-radius: var(--round-borders);
  background: var(--content-background-color);
}

.header-content {
  padding: var(--padding);
}

.header-title {
  font-family: var(--heading-font);
  font-size: 1.5em;
  font-weight: bold;
}

.header-image img {
  width: 100%;
  height: auto;
}

/* -------------------------------------------------------- */
/* SIDEBARS */
/* -------------------------------------------------------- */

aside {
  grid-area: aside;
  border: var(--border);
  border-radius: var(--round-borders);
  overflow: hidden;
  background: var(--sidebar-background-color);
  padding: var(--padding);
  color: var(--sidebar-text-color);
}

.left-sidebar {
  grid-area: leftSidebar;
}

.right-sidebar {
  grid-area: rightSidebar;
}

.sidebar-title {
  font-weight: bold;
  font-size: 1.2em;
  font-family: var(--heading-font);
  margin-bottom: 8px;
}

.sidebar-section:not(:last-child) {
  margin-bottom: 3em;
}

.sidebar-section ul,
.sidebar-section ol {
  padding-left: 1.5em;
}

.sidebar-section > *:not(p):not(ul):not(ol):not(blockquote) {
  margin-top: 10px;
}

/* Sidebar Blockquote: */

.sidebar-section blockquote {
  background: rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin: 1em 0;
  border-radius: 10px;
  overflow: hidden;
}

.sidebar-section blockquote > *:first-child {
  margin-top: 0;
}

.sidebar-section blockquote > *:last-child {
  margin-bottom: 0;
}

/* Site Button: */

.site-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-button textarea {
  font-family: monospace;
  font-size: 0.7em;
}

/* -------------------------------------------------------- */
/* FOOTER */
/* -------------------------------------------------------- */

footer {
  grid-area: footer;
  border: var(--border);
  border-radius: var(--round-borders);
  overflow: hidden;
  font-size: 0.75em;
  padding: 15px;
  background: var(--content-background-color);
  display: flex;
  justify-content: center;
}

footer a,
footer a:visited {
  color: var(--link-color);
}

footer a:hover,
footer a:focus {
  color: var(--link-color-hover);
}

/* -------------------------------------------------------- */
/* NAVIGATION */
/* -------------------------------------------------------- */

nav {
  margin-bottom: 3em;
}

nav .sidebar-title {
  margin-bottom: 0.5em;
}

nav ul {
  margin: 0 -5px;
  padding: 0;
  list-style: none;
  user-select: none;
}

nav ul li {
  margin-bottom: 0;
}

nav > ul li > a,
nav > ul li > strong {
  display: inline-block;
}

nav > ul li > a,
nav > ul li > details summary,
nav > ul li > strong {
  padding: 5px 10px;
}

nav > ul li > a.active,
nav > ul li > details.active summary {
  font-weight: bold;
}

nav ul summary {
  cursor: pointer;
}

nav ul ul li > a {
  padding-left: 30px;
}

/* NAVIGATION IN HEADER */

header nav {
  margin-bottom: 0;
  display: none;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

header nav ul li {
  position: relative;
}

header nav ul li:first-child > a {
  padding-left: 0;
}

header nav ul li:last-child > a {
  padding-right: 0;
}

/* Subnavigation (Drop-Down): */

header nav ul ul {
  background: var(--content-background-color);
  display: none;
  position: absolute;
  top: 100%;
  left: 10px;
  padding: 0.5em;
  z-index: 1;
  border: var(--border);
  min-width: 100%;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
}

header nav ul li:hover ul,
header nav ul li:focus-within ul {
  display: block;
}

header nav ul li strong {
  color: var(--link-color);
  text-decoration: underline;
  font-weight: normal;
}

header nav ul ul li a {
  display: block;
  padding-left: 0;
  padding-right: 0;
}

/* -------------------------------------------------------- */
/* CONTENT */
/* -------------------------------------------------------- */

main {
  line-height: 1.5;
}

main a,
main a:visited {
  color: var(--link-color);
}

main a:hover,
main a:focus {
  color: var(--link-color-hover);
  text-decoration-style: wavy;
}

main p,
main .image,
main .full-width-image,
main .two-columns {
  margin: 0.75em 0;
}

main ol,
main ul {
  margin: 0.5em 0;
  padding-left: 1.5em;
}

main ol li,
main ul li {
  margin-bottom: 0.2em;
  line-height: 1.3;
}

main ol {
  padding-left: 2em;
}

main blockquote {
  background: rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin: 1em 0;
  border-radius: 10px;
}

main pre {
  margin: 1em 0 1.5em;
}

main code {
  text-transform: none;
}

main center {
  margin: 1em 0;
  padding: 0 1em;
}

main hr {
  border: 0;
  border-top: var(--border);
  margin: 1.5em 0;
}

/* HEADINGS: */

main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
  font-family: var(--heading-font);
  margin-bottom: 0;
  line-height: 1.5;
}

main h1:first-child,
main h2:first-child,
main h3:first-child,
main h4:first-child,
main h5:first-child,
main h6:first-child {
  margin-top: 0;
}

main h1 {
  font-size: 1.5em;
}

main h2 {
  font-size: 1.4em;
}

main h3 {
  font-size: 1.3em;
}

main h4 {
  font-size: 1.2em;
}

main h5 {
  font-size: 1.1em;
}

main h6 {
  font-size: 1em;
}

/* COLUMNS: */

.two-columns {
  display: flex;
}

.two-columns > * {
  flex: 1 1 0;
  margin: 0;
}

.two-columns > *:first-child {
  padding-right: 0.75em;
}

.two-columns > *:last-child {
  padding-left: 0.75em;
}

/* -------------------------------------------------------- */
/* CONTENT IMAGES */
/* -------------------------------------------------------- */

.image {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
}

.full-width-image {
  display: block;
  width: 100%;
  height: auto;
}

.images {
  display: flex;
  width: calc(100% + 5px + 5px);
  margin-left: -5px;
  margin-right: -5px;
}

.images img {
  width: 100%;
  height: auto;
  padding: 5px;
  margin: 0;
  overflow: hidden;
}

/* -------------------------------------------------------- */
/* ACCESSIBILITY */
/* -------------------------------------------------------- */

/* please do not remove this. */

#skip-to-content-link {
  position: fixed;
  top: 0;
  left: 0;
  display: inline-block;
  padding: 0.375rem 0.75rem;
  line-height: 1;
  font-size: 1.25rem;
  background-color: var(--content-background-color);
  color: var(--text-color);
  transform: translateY(-3rem);
  transition: transform 0.1s ease-in;
  z-index: 99999999999;
}

#skip-to-content-link:focus,
#skip-to-content-link:focus-within {
  transform: translateY(0);
}

/* -------------------------------------------------------- */
/* MOBILE RESPONSIVE */
/* -------------------------------------------------------- */

@media (max-width: 1150px) {
  .layout {
    width: 100%;
    grid-template: "header header header" auto "leftSidebar main main" auto "rightSidebar rightSidebar rightSidebar" auto "footer footer footer" auto / var(--sidebar-width) auto var(--sidebar-width);
  }


}

/* CSS Code for devices < 800px */
@media (max-width: 800px) {
  body {
    font-size: 14px;
    padding: 32px;
  }

  .layout {
    width: 100%;
    grid-template: "header" auto "main" auto "leftSidebar" auto "rightSidebar" auto"footer" auto / 1fr;

  }

  .header-title {
    font-size: 1em;
  }


  aside {
    border-bottom: 1px solid;
    padding: 9px;
    font-size: 0.9em;
  }

  
  nav {
    padding: 0;
  }

  nav > ul {
    padding-top: 0.5em;
  }

  nav > ul li > a,
  nav > ul li > details summary,
  nav > ul li > strong {
    padding: 0.5em;
  }

  header nav {
    display: block;
  }

  main {
    max-height: none;
    padding: 15px;
  }

  .images {
    flex-wrap: wrap;
  }

  .images img {
    width: 100%;
  }

  #skip-to-content-link {
    font-size: 1rem;
  }
}
